body {
    background-color: rgb(17, 17, 17);
    color: white;
    font-family:monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
}

*:not(header) {
    box-sizing: border-box;
}

header {
    overflow: hidden;
    background-color: black;
    background-image: url(Images/Dragonfly.JPEG);
    background-position: center;
    background-size: 100%;
    padding: 20%;
 }

header a {
    font-size: 18px;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
    line-height: 20px;
    padding: 10px;
}

header .logo a {
    background-image: url("Images/Autograph.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    image-rendering: crisp-edges;
    top: 50px;
    left: 80px;
    width: 80px;
    height: 80px;
    position: absolute;

}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(255, 255, 255);
}

.header-right a:hover {
    text-decoration: none;
    background-color: hsla(0, 0%, 87%, 0.185);
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
}

.header-right {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
  }

/*RESPONSIVE RULES HEADER ELEMENTS*/
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
        float: none;
    }
  }

/*RESPONSIVE RULES LOGO*/
@media screen and (max-width: 1200px) {
    header .logo a{
        background-size: 100%;
        width: 55px;
        height: 55px;
        top: 3%;
        left: 4%;
    }
}


@media screen and (max-width: 850px) {
    header .logo a{
        background-size: 100%;
        width: 45px;
        height: 45px;
        top: 2%;
        left: 4%;
    }
}

@media screen and (max-width: 400px) {
    header .logo a{
        background-size: 100%;
        width: 45px;
        height: 45px;
        top: 1%;
        left: 4%;
    }
}

/************GALLERY SECTION**************/
/** People Section **/

.mySlides, .mySlidesPort{
    position: absolute;
    width: 60%;
}

.mySlides img, .mySlidesPort img{
    width: 100%;
}

.mySlidesPort{
    width: 26.5%;
    left: 70%;
}

img{
    vertical-align: middle;
    border-radius: 10%;
}

.slideshow-container-people{
    max-width: 100%;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
}

/** Nature Section **/
.mySlidesNature, .mySlidesPortNature{
    position: absolute;
    width: 60%;
}

.mySlidesPortNature{
    width: 26.5%;
    left: 70%;
}

.slideshow-container-nature{
    max-width: 100%;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
}

/** IMAGE NAVIGATION SECTION **/

/**ARROWS**/
.prev, .next, .prevNature, .nextNature{
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: 18%;
    color: white;
    font-weight: bold;
    font-size: 2em;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prevPort, .nextPort, .prevPortNature, .nextPortNature{
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-left: 70%;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-top: 18%;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next, .nextNature{
    right: 40%;
    border-radius: 3px 0 0 3px;
}

.nextPort, .nextPortNature{
    right: 3.5%;
    border-radius: 3px 0 0 3px;
    transition: 0.5s ease;
}



.prev:hover, .next:hover, .prevPort:hover, .nextPort:hover, .prevPortNature:hover, .nextPortNature:hover, .prevNature:hover, .nextNature:hover{
    color: grey;
}

/** DOTS **/
.landDotsDiv, .landDotsDivNature{
    position: relative;
}

.portDotsDiv, .portDotsDivNature{
    position: relative;
    margin-top: 1%;
}

.dot, .dotNature{
    position: relative;
    align-items: center;
    left: -16%;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotPort, .dotPortNature{
    position: relative;
    transform: translateY(-20px);
    left: 34.5%;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active, .dot:hover, .dotPort:hover, .active, .dotNature:hover, .dotPortNature:hover{
    background-color: grey;
}

/** ANIMATION SECTION **/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade{
    from {opacity: 0}
    to{opacity: 1}
}

@keyframes fade{
    from {opacity: 0;}
    to{opacity: 1;}    
}

/**RESPONSIVE RULES FOR IMG NAV **/

@media screen and (max-width: 850px) {

    .prev, .next, .nextPort, .prevPort{
        position: absolute;
        padding: 2%;
        margin-top: 15%;
        color: white;
        font-weight: lighter;
        font-size: 1.5em;
        transition: 0.3s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .dot, .dotPort{
        height: 8px;
        width: 8px;
    }

    .landDotsDiv{
        position: relative;
        margin-top: -1%;
    }
    
    .portDotsDiv{
        position: relative;
        margin-top: 1%;
    }

    
}


@media screen and (max-width: 500px) {

    .prev, .next, .nextPort, .prevPort{
        position: absolute;
        padding: 2%;
        margin-top: 15%;
        color: white;
        font-weight: lighter;
        font-size: 1em;
        transition: 0.3s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .dot, .dotPort{
        height: 5px;
        width: 5px;
    }
    .dot{
        margin-bottom: 0;
    }

    .landDotsDiv{
        position: relative;
        margin-top: -3%;
    }
    
    .portDotsDiv{
        position: relative;
        margin-top: 2%;
    }
    
}



footer{
    margin-top: 50%;
    padding: 10%;

}