body {
    background-color: rgb(17, 17, 17);
    color: white;
    font-family:monospace;
    margin: 0;
    padding: 0;
}

*:not(header) {
    box-sizing: border-box;
}

header {
    overflow: hidden;
    background-color: black;
    background-image: url(Images/Dragonfly.JPEG);
    background-position: center;
    background-size: 100%;
    padding: 20%;
 }

header a {
    font-size: 18px;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
    line-height: 20px;
    padding: 10px;
}

header .logo a {
    background-image: url("Images/Autograph.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    image-rendering: crisp-edges;
    top: 50px;
    left: 80px;
    width: 80px;
    height: 80px;
    position: absolute;

}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: rgb(255, 255, 255);
}

.header-right a:hover {
    text-decoration: none;
    background-color: hsla(0, 0%, 87%, 0.185);
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
}

.header-right {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
  }

/*RESPONSIVE RULES HEADER ELEMENTS*/
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
        float: none;
    }
  }

/*RESPONSIVE RULES LOGO*/
@media screen and (max-width: 1200px) {
    header .logo a{
        background-size: 100%;
        width: 55px;
        height: 55px;
        top: 3%;
        left: 4%;
    }
}


@media screen and (max-width: 850px) {
    header .logo a{
        background-size: 100%;
        width: 45px;
        height: 45px;
        top: 2%;
        left: 4%;
    }
}

@media screen and (max-width: 400px) {
    header .logo a{
        background-size: 100%;
        width: 45px;
        height: 45px;
        top: 1%;
        left: 4%;
    }
}

/**************************/

.gallery-aside {
    width: 10%;
    float: left;
    padding: 10px;
    text-align: center;
    background-color: black;
}

.gallery div {
    display: inline-block;
    margin-top: 5%;
    background-color: red;
}
.people-landscape {
    width: 60%;
    float: left;
    padding: 10px;
}

.people-portrait {
    width: 30%;
    float: left;
    padding: 10px;
}


/*
.people-landscape {
    margin-left: -3%;
    color: white;
    font-size: medium;
    padding: 5%;
    display:flex;
    flex-direction: row;
    
}

*/

footer{
   
    padding: 10%;

}